<div ng-controller="TicketViewController">
	<h2>Edit Ticket</h2>

 	<form ng-submit="updateTicket()" ng-disabled="isDisabled" role="form">
 		        <div class="form-group">
            <label>Description</label>
            <textarea ng-model="ticket.description" type="text" placeholder="Description" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label>Customer</label>
            <select ng-model="ticket._customer" ng-options="x.name for x in users" placeholder="Select customer" class="form-control"></select>
        </div>
        
        <div class="row">
            <div class="form-group col-md-4">
                <label>Created By</label>
                <select ng-model="ticket._createdBy" ng-options="x.name for x in users" placeholder="Select" class="form-control"></select>
            </div>

            <div class="form-group col-md-4">
                <label>Assigned To</label>
                <select ng-model="ticket._assignedTo" ng-options="x.name for x in users" placeholder="Select" class="form-control"></select>
            </div>
        </div>
        <button type="submit" class="btn-primary btn-sm">Update</button>
    </form>

    <div class="list-group-item active" data-toggle="collapse" data-target="#comments">Comments</div>
    <div id="comments" class="list-group">
        <div class="list-group-item active">
            <form ng-submit="addComment()">        
                <input type="text" name="Comment" ng-model="newComment.description" placeholder="write comment" class="form-control"></input>
                <br/>
                <button type="submit" class="btn btn-default btn-sm">Add</button>
            </form>      
        </div>
        <div ng-repeat="comment in commentList" class="list-group-item">
            <span ng-bind="comment.description"></span>
        </div>
    </div>
</div>