<div ng-controller="TicketViewController">
	<h2>Edit Ticket</h2>

 	<form ng-submit="updateTicket()" ng-disabled="isDisabled">
 		<label>Description</label>
        <input ng-model="ticket.description" type="text" placeholder="Description" ></input>
        <br>

        <label>Customer</label>
        <select ng-model="ticket._customer" ng-options="x.name for x in users"></select>
        
        <label>Created By</label>
        <select ng-model="ticket._createdBy" ng-options="x.name for x in users"></select>

        <label>Assigned To</label>
        <select ng-model="ticket._assignedTo" ng-options="x.name for x in users"></select>
        <br>
        <button type="submit" ng-disabled="isDisabled">Save</button>
    </form>

    <label>Comments:</label>
    <div ng-repeat="comment in commentList">
        <span ng-bind="comment.description"></span>
    </div>
    <form ng-submit="addComment()">        
    	<label>Add new comment:</label>
    	<input type="text" name="Comment" ng-model="newComment.description"></input>
    	<button type="submit">Add</button>
    </form>      
</div>