<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>User Management</h2>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Add User</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <form ng-submit="createUser()">
        <div>
          <div class="col-md-3">
            <label>Name</label>
            <input type="text" placeholder="Name" ng-model="user.name" class="form-control"
              required="required"></input>
          </div>
          <div class="col-md-3">
            <label>Email</label>
            <input type="email" placeholder="Email" ng-model="user.email" class="form-control"
            required="required"></input>
          </div>
          <div class="col-md-3">
            <label>Type</label>
            <select ng-model="user.type" ng-options="x for x in userType track by x" class="form-control" required="required"></select>
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div>
  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group-item active">Customers</div>
      <div class="list-group-item" ng-repeat="u in customerList">
        <p ng-bind="u.name"></p>
        <p class="text-muted" ng-bind="u.email"></p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group-item active">Customer Service Reps</div>
      <div class="list-group-item" ng-repeat="u in csrList">
        <p ng-bind="u.name"></p>
        <p class="text-muted" ng-bind="u.email"></p>
      </div>
    </div>
  </div>
</div>