<div >
	<h2>Create Ticket</h2>

 	<form ng-submit="createTicket()" role="form">
        <div class="row">
            <div class="form-group col-md-4">
                <label>Status</label>
                <input type="text" name="Status" disabled="disabled" 
                value="New" class="form-control"></input>
            </div>
        </div>
        <div class="form-group">
     		<label>Description</label>
            <textarea ng-model="ticket.description" type="text" placeholder="Description" class="form-control" required="required"></textarea>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label>Customer</label>
                <select ng-model="ticket._customer" ng-options="x.name for x in customerList"class="form-control"></select>
            </div>
        
            <div class="form-group col-md-4">
                <label>Created By</label>
                <select ng-model="ticket._createdBy" ng-options="x.name for x in csrList"class="form-control"></select>
            </div>

            <div class="form-group col-md-4">
                <label>Assigned To</label>
                <select ng-model="ticket._assignedTo" ng-options="x.name for x in csrList" class="form-control"></select>
            </div>
        </div>
        <button type="submit" class="btn-primary btn-lg">Create</button>
    </form>
</div>