<div>
	<h2>Ticket Management</h2>
	<table class="table table-striped">
		<thead>
		<tr>
			<th></th>
			<th>Description</th>
			<th>Created By</th>
			<th>Assigned To</th>
			<th>Status</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="ticket in tickets">
			<td>
				<a href="#/view-ticket/{{ticket._id}}">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
				<a href="" ng-click="deleteTicket()">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
			</td>
			<td><span ng-bind="ticket.description"></span></td>
			<td><span ng-bind="ticket._customer.name"></span></td>
			<td><span ng-bind="ticket._assignedTo.name"></span></td>
			<td><span ng-bind="ticket.status"></span></td>
		</tr>
		</tbody>
	</table>
</div>	